<!DOCTYPE html>
<html lang="en">
{% load MyTags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>清风个人博客</title>
    <link rel="stylesheet" href="../static/css/index/index.css">
    <link rel="stylesheet" href="../static/css/reset/reset.css">
    <link rel="stylesheet" href="../static/fontawesome5/css/all.min.css">
    <script src="../static/vue/vue.js"></script>
</head>

<body>
    <div id="app">
        <link rel="stylesheet" :href="'../static/css/theme/' + theme + '.css'">
        <nav>
            <div class="left">
                <a href="/">首页</a>
                <a href="/news">新闻</a>
                <a href="#">心情</a>
                <a href="#">回忆录</a>
                <a href="#">关于</a>
                <a href="#">网站导航</a>
            </div>
            <div class="right">
                <img v-show="theme === 'light'" src="../static/my/ThemeImg/light.svg" @click="setTheme('dark')" alt="">
                <img v-show="theme === 'dark'" src="../static/my/ThemeImg/dark.svg" @click="setTheme('light')" alt="">
                <a href="/login">登陆</a>
                <a href="/sign">注册</a>
            </div>
        </nav>
        {% banner 'index' %}
        <main>
            {% block main %}
            <div class="main">
                <div class="left">
                    <div class="recommended_article card">
                        <div class="title">
                            <h2>推荐文章</h2>
                            <div class="switch_article_category">
                                <span :active="this_category === 'attack'" @click="switch_article_category('attack')">攻击</span>
                                <span :active="this_category === 'defense'" @click="switch_article_category('defense')">防御</span>
                            </div>
                        </div>
                        <div class="body">
                            <ul v-show="this_category === 'attack'" class="attack">
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                            </ul>
                            <ul v-show="this_category === 'defense'" class="defense">
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>web Shell变形</h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。</p>
                                        <span>2天前</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hot_search card">
                        <div class="title">
                            <h2>今日热搜</h2>
                            <div>
                                <a href="#">查看更多</a>
                            </div>
                        </div>
                        <div class="body">
                            主要内容区域
                        </div>
                    </div>
                    <div class="all_article card">
                        <div class="title">
                            <h2>博客文章</h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2><a href="#">web Shell变形</a></h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。
                                            变形方法:利用str_replace函数
                                            在第三个参数中，查找第一个参数，并替换成第二个参数。这里就相当于删除abc
                                        </p>
                                        <div class="article_info">
                                            <span><i class="far fa-clock"></i>2022-10-01</span>
                                            <span><i class="far fa-thumbs-up"></i>666</span>
                                            <span><i class="fas fa-eye"></i>1266</span>
                                            <span><i class="fas fa-comments"></i>12</span>
                                            <span><i class="fas fa-star"></i>888</span>
                                        </div>
                                        <a href="">查看详情</a>

                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2><a href="#">web Shell变形</a></h2>
                                        <p>绕过杀毒软件的查杀
                                            防火墙通常以关键字判断是否为一句话木马。
                                            变形方法:利用str_replace函数
                                            在第三个参数中，查找第一个参数，并替换成第二个参数。这里就相当于删除abc
                                        </p>
                                        <div class="article_info">
                                            <span><i class="far fa-clock"></i>2022-10-01</span>
                                            <span><i class="far fa-thumbs-up"></i>666</span>
                                            <span><i class="fas fa-eye"></i>1266</span>
                                            <span><i class="fas fa-comments"></i>12</span>
                                            <span><i class="fas fa-star"></i>888</span>
                                        </div>
                                        <a href="">查看详情</a>

                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="../static/my/BannerImg/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2><a href="#">web Shell变形</a></h2>
                                        <p>绕过杀毒软件的查杀
                                                防火墙通常以关键字判断是否为一句话木马。
                                            变形方法:利用str_replace函数
                                            在第三个参数中，查找第一个参数，并替换成第二个参数。这里就相当于删除abc
                                           </p>
                                        <div class="article_info">
                                            <span><i class="far fa-clock"></i>2022-10-01</span>
                                            <span><i class="far fa-thumbs-up"></i>666</span>
                                            <span><i class="fas fa-eye"></i>1266</span>
                                            <span><i class="fas fa-comments"></i>12</span>
                                            <span><i class="fas fa-star"></i>888</span>
                                        </div>
                                        <a href="">查看详情</a>
                                    
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="billboards card">
                        <div class="title">
                            <h2>广告栏</h2>
                            <div>
                                <a href="#">申请</a>
                            </div>
                        </div>
                        <div class="body">
                            主要内容区域
                        </div>
                    </div>
                    <div class="cloud_tags card">
                        <div class="title">
                            <h2>标签云</h2>
                            <div>
                                <a href="#">查看更多</a>
                            </div>
                        </div>
                        <div class="body">
                            <ul>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                            </ul>
                        </div>
                    </div>
                    <div class="site_info card">
                        <div class="title">
                            <h2>站点信息</h2>
                            <div>
                                <a href="#">查看更多</a>
                            </div>
                        </div>
                        <div class="body">
                            主要内容区域
                        </div>
                    </div>
                    <div class="friend_links card">
                        <div class="title">
                            <h2>友情链接</h2>
                            <div>
                                <a href="#">查看更多</a>
                            </div>
                        </div>
                        <div class="body">
                            主要内容区域
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </main>
        <footer>
            <div class="left">
                <p class="webInfo">Web Info</p>
                <p class="siteInfo">
                    <span><img src="../static/my/IndexFooterImg/tencent.svg" alt="">
                        腾讯云</span>
                    <span><img src="../static/my/IndexFooterImg/iconfont.png" alt="">阿里巴巴矢量图标库</span>
                </p>
                <p class="version">
                    <span>Version</span>
                    <span>1.0.0</span>
                </p>
                <p>建站日期:2022-10-01</p>
                <p class="beian">
                    <a href="https://beian.miit.gov.cn/" target="_blank"><img
                            src="../static/my/IndexFooterImg/beian.png">备案号:xxxxx</a>
                </p>
            </div>
            <div class="right">
                <div class="contact">
                    <div>
                        <img class="svg" src="../static/my/IndexFooterImg/qqicon.svg" alt="">
                        <img class="png" src="../static/my/IndexFooterImg/qqQrcode.jpg" alt="">
                    </div>
                    <div>
                        <img class="svg" src="../static/my/IndexFooterImg/wechat.svg" alt="">
                        <img class="png" src="../static/my/IndexFooterImg/wechatQrcode.jpg" alt="">
                    </div>
                    <div>
                        <img class="svg" src="../static/my/IndexFooterImg/bilibiliicon.svg" alt="">
                        <img class="png" src="../static/my/IndexFooterImg/BilibiliQrcode.png" alt="">
                    </div>
                </div>
                <p>
                    <span>联系邮箱:whitehat_007@qq.com</span>
                </p>
            </div>
        </footer>
    </div>
    <script>
        new Vue({
            el: '#app',
            delimiters: ["[[", "]]"],
            data: {
                theme: 'light', // 默认主题
                this_category: 'attack'
            },
            created() {
                this.init_theme()
            },
            methods: {
                // 初始化主题
                init_theme() {
                    //  读出存储主题信息
                    let theme = localStorage.getItem('theme')
                    if (theme) {
                        this.theme = theme
                    }
                },
                // 主题设置
                setTheme(themeName) {
                    this.theme = themeName
                    // 持久化存储
                    localStorage.setItem('theme', themeName)
                },
                // 文章分类 switch_article_category
                switch_article_category(categoryName){
                    this.this_category = categoryName
                }
            }
        })

        // 轮播图展示
        let MenuImg = document.querySelectorAll('.dynamic_shuffl') // 获取需要轮播的所有元素(div)
        let MenuLength = MenuImg.length // 获取图片长度(数量)
        let index = 0                   // 初始位置
        let timer = null
        clearInterval(timer)
        timer = setInterval(() => {
            index++
            if (index === MenuLength) {
                index = 0
            }
            // 样式复原
            for (let i of MenuImg) {
                i.style.opacity = 0
            }
            MenuImg[index].style.opacity = 1
        }, 6000)

    </script>
</body>

</html>